<mtapp:setting id="default_cats">
    <label for="default_cats" class="form-label"><__trans phrase="Default Categories IDs" /></label>
    <input type="text" name="default_cats" id="default_cats" class="form-control" value="<mt:var name='default_cats' escape='html'>" mt:watch-change="1" autocomplete="off" />
    <div class="form-text">
        <__trans phrase ="The comma separated ID list of [_1] to set to default." params="<__trans phrase='Categories'>" />
    </div>
    <mt:Categories include_blogs="all" show_empty="1">
        <mt:If name="__first__">
            <div class="mt-4 alert alert-info">
                <p><__trans phrase="Categories in this site." /></p>
                <ul id="SetDefaultCategory-catlist">
        </mt:If>
        <li class="default_cats_list_item" data-default-cats-blog-id="<mt:BlogID>" style="display:none;"><mt:CategoryLabel> : <mt:CategoryID> (<mt:BlogName>)</li>
        <mt:If name="__last__">
            </ul>
            </div>
        </mt:If>
    </mt:Categories>
</mtapp:setting>

<mtapp:setting id="post_save_enable">
    <label for="post_save_enable" class="form-label">
        <__trans phrase="Use setting Default [_1] after saving [_2]" params="<__trans phrase='Categories'>%%<__trans phrase='Entry'>" />
    </label>
    <select name="post_save_enable" id="post_save_enable" class="form-select">
        <option value="disable"<mt:if name='post_save_enable' eq='disable'> selected="selected"</mt:if>><__trans phrase="Disable" /></option>
        <option value="enable"<mt:if name='post_save_enable' eq='enable'> selected="selected"</mt:if>><__trans phrase="Enable" /></option>
    </select>
    <div class="form-text">
        <__trans phrase="If you save [_1] without setting a [_2], Default [_2] is set." params="<__trans phrase='Entry'>%%<__trans phrase='Category'>" />
    </div>
</mtapp:setting>

<script type="text/javascript">
    (function () {
        const currentBlogId = Number(document.querySelector('input[name="blog_id"]').value);
        const items = document.querySelectorAll('.default_cats_list_item');
        items.forEach((item) => {
            const blogId = Number(item.getAttribute('data-default-cats-blog-id'));
            if (blogId === currentBlogId) {
                item.style.display = 'list-item';
            }
        });
    })();
</script>
